.sidebar {
    display: flex;
    flex-direction: column;
    width: 19vw;
    min-width: 150px;
    top: 0;
    bottom:0;
    position:fixed;
    z-index: 52;
    overflow-y:auto;
    overflow-x:hidden;
    /* margin-left: -15px; */
    background-color: rgb(60, 63, 62);
}

.sidebar__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(60, 63, 62);
}

.sidebar__content > li {
    font-size: 13px;
}

li {
    color: rgb(150, 146, 146);
    font-size: 12px;
}

li:hover {
    cursor: pointer;
    color: whitesmoke;
    background-color: rgb(53, 56, 55);
}

#items {
    list-style-type: none;
    margin-left: -15px;
}